# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Test.jsx
.env.local
Header.jsx
CustomNavbar.jsx




TrainerBooking.jsx

ForumCard.jsx
ForumDetails.jsx
ForumPage.jsx
LatestForum.jsx
Profile.jsx
ActivityLog.jsx
TrainerManageSlot.jsx
TrainerAddSlot.jsx
MakeAdmin.jsx
AppliedTrainerList.jsx
AppliedTrainerDetails.jsx
AllTrainerD.jsx
AdminNewsletter.jsx
AdminBalance.jsx
AddClass.jsx
TrainerBooking.jsx
Payment.jsx
PaymentForm.jsx





